<h1 style="text-align:center">Investor Dashboard</h1>

<h3>Startup list</h3>
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/img/startup.png">
      <md-card-title>Chaintonic</md-card-title>
   </md-card-header>

   <md-card-content>
      <md-input placeholder="Balance" maxlength="100" class="demo-full-width"
          value="540.000 $" disabled></md-input>
      <md-input placeholder="Business Valuation" maxlength="100" class="demo-full-width"
          value="2.700.000 $" disabled></md-input>
          <button md-raised-button color="warn" (click)="showStartup('chaintonic')">View</button>
   </md-card-content>
</md-card>
<br>
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/img/startup.png">
      <md-card-title>UST Global</md-card-title>
   </md-card-header>

   <md-card-content>
        <md-input placeholder="Balance" maxlength="100" class="demo-full-width"
          value="3.437.000 $" disabled></md-input>
      <md-input placeholder="Business Valuation" maxlength="100" class="demo-full-width"
          value="17.185.000 $" disabled></md-input>
      <button md-raised-button color="warn" (click)="showStartup('ustglobal')">View</button>
   </md-card-content>
</md-card>
<br>
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/img/startup.png">
      <md-card-title>UNIR</md-card-title>
   </md-card-header>

   <md-card-content>
        <md-input placeholder="Balance" maxlength="100" class="demo-full-width"
          value="1.270.500 $" disabled></md-input>
      <md-input placeholder="Business Valuation" maxlength="100" class="demo-full-width"
          value="6.352.500 $" disabled></md-input>
      <button md-raised-button color="warn" (click)="showStartup('unir')">View</button>
   </md-card-content>
</md-card>
<br>
<md-card>
   <md-card-header>
      <img md-card-avatar src="./assets/img/startup.png">
      <md-card-title>Bluemix</md-card-title>
   </md-card-header>

   <md-card-content>
        <md-input placeholder="Balance" maxlength="100" class="demo-full-width"
          value="50.350.000 $" disabled></md-input>
      <md-input placeholder="Business Valuation" maxlength="100" class="demo-full-width"
          value="251.750.000 $" disabled></md-input>
      <button md-raised-button color="warn" (click)="showStartup('bluemix')">View</button>
   </md-card-content>
</md-card>